<html>
  <head>
    <title>TreeYak - Create New Yak</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  </head>
  <body>
    <h3>Create New Yak</h3>
    <form action="/new_yak" method="post">
      <p><textarea name="contents"></textarea></p>
      <p><input type="submit" text="Create"></input></p>
    </form>
  </body>
</html>
